.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.tile {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px outset #aaa;
  background-color: #c9c9c9;
  vertical-align: middle;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  color: #6d6d6d;
  cursor: pointer;
}
.tile:hover {
  background-color: #dee6ed;
}
.tile.status-0,
.tile.status-1,
.tile.status-2,
.tile.status-3,
.tile.status-4,
.tile.status-5,
.tile.status-6,
.tile.status-7,
.tile.status-8 {
  border: 1px solid grey;
  padding: 2px;
  cursor: default;
}
.tile.status-1,
.tile.status-2,
.tile.status-3,
.tile.status-4,
.tile.status-5,
.tile.status-6,
.tile.status-7,
.tile.status-8 {
  background-color: #d5bbbf;
}
.tile.status-0 {
  text-indent: -100000px;
  border-style: solid;
}
.tile.status-1 {
  color: blue;
}
.tile.status-2 {
  color: darkgreen;
}
.tile.status-3 {
  color: red;
}
.tile.status-flag {
  background-color: red;
  background-color: rgba(255, 61, 61, 0.82);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQogICAgPHBvbHlsaW5lIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiAgcG9pbnRzPSI1IDUsIDUsMTIiLz4NCiAgICA8cGF0aCBmaWxsPSIjMDAwIiBkPSINCiAgICAgICAgTTYgNQ0KICAgICAgICBDIDcgNCwgOC41IDQsIDkuNSA1DQogICAgICAgIEMgMTAuNSA2LCAxMiA2LCAxMyA1DQogICAgICAgIEwgMTMgMTANCiAgICAgICAgQyAxMiAxMSwgMTAuNSAxMSwgOS41IDEwDQogICAgICAgIEMgOC41IDksIDcgOSwgNiAxMA0KICAgICAgICBaDQogICAgIiAvPg0KPC9zdmc+DQo=);
  background-size: 100% 100%;
}
.tile.status-question {
  background-color: lightblue;
}
.tile.status-mine {
  font-weight: bold;
  color: #000;
  background-color: #dee6ed;
}
.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
html,
body,
#root,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
